/****************************
GENERAL
****************************/

#aboutBtn {
  margin-right: 40px;
}

body {
  margin: 0;
}

.contact li, .contact a {
  color: white;
  font-size: 30px;
  line-height: 1.4em;
  list-style: none;
  text-decoration: none;
}

footer {
  background-color: #6E7376;
  color: white;
  height: 100px;
}

#footerColOne, #footerColTwo {
  display: inline-block;
  width: 49%;
}

#footerColThree {
  display: none;
}

#footerLine {
  margin-top: 50px;
}

header {
  background-color: #6E7376;
  clear: right;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

#headerName {
  font-size: 50px;
  margin-top: 20px;
}

hr {
  color: black;
  margin: 0;
  padding: 0;
}

.menuBtn {
  display: none;
}

.menuContent a {
  color: white;
  text-decoration: none;
}

.menuContent li {
  display: inline-block;
  font-size: 45px;
  padding-top: 10px;
}

#projectsBtn {
  margin-right: 20px;
}

ul.contact {
  margin: 0;
  padding-top: 5px;
}



/****************************
PAGE: ABOUT
****************************/

#aboutSummary {
  font-size: 66px;
  line-height: 1.6em;
  margin-left: 15px;
  margin-right: 15px;
}

.experiencedSkill {
  background-color: #F8C5D0;
}

.familiarSkill {
  background-color: #FFDDCB;
}

.lastSkillItem {
  margin-bottom: 50px;
}

.learningSkill {
  background-color: #cdd4d8;
}

.proficientSkill {
  background-color: #D2F3C1;
}

.resume {
  text-decoration: none;
}

.resume:hover {
  text-decoration: underline;
}

.skill {
  background-color: #B2E0D3;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
}

#skillBoxHeading {
  text-decoration: underline;
  text-align: center;
}

.skillCompetency {
  color: black;
  padding: 10px;
}

.skillsContainer {
   text-align: center;
}

.skillSet li {
  margin-top: 50px;
}

#summarySection {
  height: 700px;
  text-align: center;
}

#summarySection a {
  color: black;
}

#summarySection a:hover {
  color: #3186AD;
}

#summarySection h3 {
  font-size: 50px
}

ul.skillSet {
  list-style: none;
  padding: 0;
}

.skillTitle {
  margin-bottom: 0px;
}



/****************************
PAGE: PROJECTS
****************************/

.back {
  text-align: center;
}

.projectDescription {
  margin: 30px;
}

.front, .front img {
  width: 100%;
}

.devicon-bootstrap-plain.colored, .projectLinks a {
  color: black;
}

.jobRole, .projectLinks, .projectTitle, .technologies {
  margin-top: 20px;
}

.jobRole, .projectTitle, .technologies {
  margin-bottom: 20px;
}

.projectLinks i, .technologies i {
  margin-right: 40px;
}

.projectTitle {
  font-size: 50px;
}

.technologies {
  display: inline;
}



/* hides back of pane when flipping */
/*.back, .front {
  backface-visibility: hidden;
  border: 4px solid #4C6C9D;
  border-radius: 5px;
  left: 0;
  position: absolute;
  top: 0;
}*/

/* back, initially hidden */
/*.back {
  transform: rotateY(180deg);
}*/

/* flip speed */
/*.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}*/

/* front pane, placed in front of back */
/*.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.projectContainer, .projectContainer img, .front, .back {
  height: 295px;
  width: 647px;
}

.projectContainer {
  display: inline-block;
  margin: 15px;
  perspective: 1000px;
}*/

/* flips the pane when hovered */
/*.projectContainer:hover .flipper, .projectContainer.hover .flipper {
  transform: rotateY(180deg);
}

.projectsPage {
  padding: 30px;
  text-align: center;
}*/

