<div class="aboutPage">

  <div id="summarySection">
    <h1 id="aboutSummary">Hello, my name is Katlyn Buffum, and I'm a full stack developer. My passions include hiking, programming, traveling, baking, and crafts.</h1>

    <h3>
      View my Resume
      <a href="images/Resume.pdf" target="_blank" class="resume">PDF</a>
      <a href="" target="_blank" class="resume">Plain Text</a>
    </h3>
  </div>

  <h2 id="skillBoxHeading">Technologies</h2>
  <div id="skillsBox">
    <div class="skillsContainer">
      <h3 class="skillTitle">Languages</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">
          CSS3
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li>
          <span class="skill">
            HTML5
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li>
          <span class="skill">
            JavaScript
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li class="lastSkillItem">
          <span class="skill">
            Ruby
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer">
      <h3 class="skillTitle">Frameworks</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">
            Angular
            <span class="skillCompetency familiarSkill">Familiar</span>
          </span>
        </li>
        <li>
          <span class="skill">
            Express.js
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li>
          <span class="skill">
            Node.js
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li class="lastSkillItem">
          <span class="skill">
            Rails
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer">
      <h3 class="skillTitle">Libraries</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">
            Bcrypt
            <span class="skillCompetency familiarSkill">Familiar</span>
          </span>
        </li>
        <li>
          <span class="skill">
            Bootstrap
            <span class="skillCompetency familiarSkill">Familiar</span>
          </span>
        </li>
        <li>
          <span class="skill">
            Chart.js
            <span class="skillCompetency familiarSkill">Familiar</span>
          </span>
        </li>
        <li>
          <span class="skill">
            jQuery
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li class="lastSkillItem">
          <span class="skill">
            Materialize
            <span class="skillCompetency familiarSkill">Familiar</span>
          </span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer">
      <h3 class="skillTitle">Database Tools</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">
            MongoDB
            <span class="skillCompetency familiarSkill">Familiar</span>
          </span>
        </li>
        <li>
          <span class="skill">
            PostgreSQL
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li class="lastSkillItem">
          <span class="skill">
            Sequelize
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer" id="lastSetOfSkills">
      <h3 class="skillTitle">Other Skills</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">
            AJAX
            <span class="skillCompetency proficientSkill">Proficient</span>
          </span>
        </li>
        <li>
          <span class="skill">
            Git
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li>
          <span class="skill">
            GitHub
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li>
          <span class="skill">
            Heroku
            <span class="skillCompetency proficientSkill">Proficient</span>
          </span>
        </li>
        <li>
          <span class="skill">
            JSON
            <span class="skillCompetency proficientSkill">Proficient</span>
          </span>
        </li>
        <li>
          <span class="skill">
            OOP
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
        <li>
          <span class="skill">
            TDD
            <span class="skillCompetency learningSkill">Learning</span>
          </span>
        </li>
        <li class="lastSkillItem">
          <span class="skill">
            Trello
            <span class="skillCompetency experiencedSkill">Experienced</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>