<div class="aboutPage">
  <h1>About Katlyn</h1>

  <h3>I'm a full stack developer who is passionate about creating simple, easy to use applications, that teach users a thing or two.</h3>

  <h2>Skills</h2>

  <h3>Languages</h3>
  <div class="skillsContainer languages">
    <span class="skill">HTML5</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer languages">
    <span class="skill">CSS3</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer languages">
    <span class="skill">JavaScript</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer languages">
    <span class="skill">Ruby</span>
    <span class="skillCompetency"></span>
  </div>
  <h3>Frameworks</h3>
  <div class="skillsContainer frameworks">
    <span class="skill">Angular</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer frameworks">
    <span class="skill">Ruby on Rails</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer frameworks">
    <span class="skill">Node.js</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer frameworks">
    <span class="skill">React.js</span>
    <span class="skillCompetency"></span>
  </div>
  <h3>Libraries</h3>
  <div class="skillsContainer libraries">
    <span class="skill">jQuery</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer libraries">
    <span class="skill">Chart.js</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer libraries">
    <span class="skill">Bootstrap</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer libraries">
    <span class="skill">Materialize</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer libraries">
    <span class="skill">Bcrypt</span>
    <span class="skillCompetency"></span>
  </div>
  <h3>Database Tools</h3>
  <div class="skillsContainer databaseTools">
    <span class="skill">PostgreSQL</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer databaseTools">
    <span class="skill">Sequelize</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer databaseTools">
    <span class="skill">MongoDB</span>
    <span class="skillCompetency"></span>
  </div>
  <h3>Other Skills</h3>
  <div class="skillsContainer otherSkills">
    <span class="skill">GitHub</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer otherSkills">
    <span class="skill">OOP</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer otherSkills">
    <span class="skill">AJAX</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer otherSkills">
    <span class="skill">JSON</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer otherSkills">
    <span class="skill">Heroku</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer otherSkills">
    <span class="skill">API</span>
    <span class="skillCompetency"></span>
  </div>
  <div class="skillsContainer otherSkills">
    <span class="skill">TDD</span>
    <span class="skillCompetency"></span>
  </div>
</div>