<div class="aboutPage">

  <div id="summarySection">
    <h1 id="aboutSummary">Hello, my name is Katlyn Buffum, and I'm a full stack developer. My passions include hiking, programming, traveling, baking, and crafts.</h1>

    <h3>
      View my Resume
      <a href="images/Resume.pdf" target="_blank" class="resume">PDF</a>
      <a href="" target="_blank" class="resume">Plain Text</a>
    </h3>
  </div>

  <h2 id="skillBoxHeading">Technologies</h2>
  <div id="skillsBox">
    <div class="skillsContainer">
      <h3 class="skillTitle">Languages</h3>
      <ul class="skillSet">
        <li>
          <span class="skillWithIcon"><i class="devicon-css3-plain">CSS3</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-html5-plain">HTML5</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-javascript-plain">JavaScript</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-ruby-plain">Ruby</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer">
      <h3 class="skillTitle">Frameworks</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">Angular</span>
          <span class="skillCompetency familiarSkill">Familiar</span>
        </li>
        <li>
          <span class="skill">Express.js</span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-nodejs-plain">Node.js</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-rails-plain">Rails</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer">
      <h3 class="skillTitle">Libraries</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">Bcrypt</span>
          <span class="skillCompetency familiarSkill">Familiar</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-bootstrap-plain-wordmark">Bootstrap</i></span>
          <span class="skillCompetency familiarSkill">Familiar</span>
        </li>
        <li>
          <span class="skill">Chart.js</span>
          <span class="skillCompetency familiarSkill">Familiar</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-jquery-plain">jQuery</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skill">Materialize</span>
          <span class="skillCompetency familiarSkill">Familiar</span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer">
      <h3 class="skillTitle">Database Tools</h3>
      <ul class="skillSet">
        <li>
          <span class="skillWithIcon"><i class="devicon-mongodb-plain">MongoDB</i></span>
          <span class="skillCompetency familiarSkill">Familiar</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-postgresql-plain">PostgreSQL</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skill">Sequelize</span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
      </ul>
    </div>

    <div class="skillsContainer" id="lastSetOfSkills">
      <h3 class="skillTitle">Other Skills</h3>
      <ul class="skillSet">
        <li>
          <span class="skill">AJAX</span>
          <span class="skillCompetency proficientSkill">Proficient</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-git-plain-wordmark">Git</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-github-plain-wordmark">GitHub</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-heroku-original-wordmark">Heroku</i></span>
          <span class="skillCompetency proficientSkill">Proficient</span>
        </li>
        <li>
          <span class="skill">JSON</span>
          <span class="skillCompetency proficientSkill">Proficient</span>
        </li>
        <li>
          <span class="skill">OOP</span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
        <li>
          <span class="skill">TDD</span>
          <span class="skillCompetency learningSkill">Learning</span>
        </li>
        <li>
          <span class="skillWithIcon"><i class="devicon-trello-plain">Trello</i></span>
          <span class="skillCompetency experiencedSkill">Experienced</span>
        </li>
      </ul>
    </div>
  </div>
</div>