<div class="projectsPage">

  <div class="projectContainer" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <img src="images/AngioBloomImg.jpg" alt="A picture of AngioBloom's homepage">
      </div>

      <div class="back">
        <h2>AngioBloom</h2>
        <h3>Job Role: Full Stack Developer</h3>
        <h4>
          Description: AngioBloom is an app for people who love taking pictures of and discovering information about flowers. It allows users to upload and identify flowers.
        </h4>
        <h4>
          Technologies: 
          <i class="fa fa-user-secret" aria-hidden="true" alt="Bcrypt"></i>
          <i class="devicon-bootstrap-plain-wordmark colored" alt="Bootstrap"></i>
          <i class="fa fa-cloud" aria-hidden="true" alt="Cloudinary"></i>
          <i alt="Sabina Nore">&#10048</i>
          <i class="devicon-nodejs-plain" alt="Node.js & Express.js"></i>
          <i class="devicon-heroku-original" alt="Heroku"></i>
          <i class="devicon-jquery-plain" alt="jQuery"></i>
          <i class="fa fa-object-group" aria-hidden="true" alt="NinjaMock"></i>
        </h4>
        <h4>
          Links:
          <a href="https://github.com/k-buffum/AngioBloom" target="_blank"><i class="fa fa-github-square" aria-hidden="true" alt="github"></i></a>
          <a href="https://angiobloom.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true" alt="AngioBloom Website Link"></i></a>
        </h4>
      </div>
    </div>
  </div>

  <div class="projectContainer" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <img src="images/RainyDayImg.jpg" alt="A picture of RainyDay's homepage">
      </div>

      <div class="back">
        <h2>RainyDay</h2>
        <h3>Job Role: Project Manager, Trello Master, Full Stack Developer</h3>
        <h4>
          Description: Rainy Day is a web application created with three other web developers, for people who would like to save an activity for a rainy day. It allows users to search for a place they would like to go and save an activity they would like to complete at their selected place. Once a user has completed the activity they can view all of their completed goals on the achievement page.
        </h4>
        <h4>
          Technologies:
          <i class="fa fa-user-secret" aria-hidden="true" alt="Bcrypt"></i>
          <i class="devicon-bootstrap-plain-wordmark colored" alt="Bootstrap"></i>
          <i class="devicon-heroku-original" alt="Heroku"></i>
          <i class="fa fa-flag" aria-hidden="true" alt="FontAwesome"></i>
          <i class="fa fa-object-group" aria-hidden="true" alt="NinjaMock"></i>
          <i class="devicon-ruby-plain" alt="Ruby on Rails"></i>
          <i class="fa fa-google" aria-hidden="true" alt="Google Fonts & Google Places API"></i>
        </h4>
        <h4>
          Links:
          <a href="https://github.com/k-buffum/rainyday" target="_blank"><i class="fa fa-github-square" aria-hidden="true" alt="github"></i></a>
          <a href="http://rainydayapp.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true" alt="RainyDay Website Link"></i></a>
        </h4>
      </div>
    </div>
  </div>

  <div class="projectContainer" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <img src="images/DogMeetUpImg.jpg" alt="A picture of Dog MeetUp's homepage">
      </div>
      <div class="back">
        <h2>Dog MeetUp</h2>
        <h3>Job Role: Full Stack Developer</h3>
        <h4>
          Description: Dog MeetUp is a mobile friendly web application for dog owners to schedule a time and park they plan to take their dogs, view the number of dogs that are scheduled to go to their selected park throughout the day, and leave reviews for parks.
        </h4>
        <h4>
          Technologies:
          <i class="fa fa-user-secret" aria-hidden="true" alt="Bcrypt"></i>
          <i class="devicon-bootstrap-plain-wordmark colored" alt="Bootstrap"></i>
          <i class="fa fa-bar-chart" aria-hidden="true" alt="Chart.js"></i>
          <i class="fa fa-paw" aria-hidden="true" alt="downloadicons.net"></i>
          <i class="devicon-nodejs-plain" alt="Node.js & Express.js"></i>      
          <i class="fa fa-google" aria-hidden="true" alt="Google Maps API, Google Places API, Geolocation"></i>
          <i class="devicon-heroku-original" alt="Heroku"></i>
          <i class="devicon-jquery-plain" alt="jQuery"></i>
          <i class="fa fa-object-group" aria-hidden="true" alt="NinjaMock"></i>
          <i class="fa fa-star" aria-hidden="true" alt="HTML5, CSS3, & JS Experiments By: Martin Ivanov"></i>
        </h4>
        <h4>
          Links:
          <a href="https://github.com/k-buffum/Dog_MeetUp" target="_blank"><i class="fa fa-github-square" aria-hidden="true" alt="github"></i></a>
          <a href="https://dog-meetup.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true" alt="Dog MeetUp Website Link"></i></a>
        </h4>
      </div>
    </div>
  </div>

  <div class="projectContainer" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <img src="images/HangmanImg.jpg" alt="A picture of Hangman's homepage">
      </div>
      <div class="back">
        <h2>Hangman</h2>
        <h3>Job Role: Full Stack Developer</h3>
        <h4>
          Description: Hangman is a web application for people who would like to test their medical knowledge while playing hangman.
        </h4>
        <h4>
          Technologies:
          <i class="fa fa-google" aria-hidden="true" alt="Google Fonts"></i>
          <i class="devicon-jquery-plain" alt="jQuery, jQuery UI, & jQuery Flip"></i>
          <i class="fa fa-commenting-o" aria-hidden="true" alt="Sweet Alert"></i>
          <i class="fa fa-picture-o" aria-hidden="true" alt="Pixabay"></i>
          <i class="fa fa-flask" aria-hidden="true" alt="Science Kids"></i>
        </h4>
        <h4>
          Links:
          <a href="https://github.com/k-buffum/Project1WDI" target="_blank"><i class="fa fa-github-square" aria-hidden="true" alt="github"></i></a>
          <a href="http://k-buffum.github.io/Project1WDI/" target="_blank"><i class="fa fa-link" aria-hidden="true" alt="Hangman Website Link"></i></a>
        </h4>
      </div>
    </div>
  </div>
</div>